# Cline Custom Instructions

- Always refer to the README.md for the latest information on the project.
- Always refer to ARCHITECTURE.md for the latest information on the architecture of the project.
- Follow programming principles such as DRY, KISS, YAGNI, and SOLID
- Always use the latest version of the programming language and libraries.
- Always prefer the simplest solution.
- NEVER update any files in the following directories: .git, node_modules
